<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel = "icon" href =  
"https://image.flaticon.com/icons/png/512/2043/premium/2043014.png" 
        type = "image/x-icon"> 
<script src="https://kit.fontawesome.com/c5ffb49d8a.js" crossorigin="anonymous"></script>

<title >DLTG - Home</title>
    
<body>

<div class="container-fluid">
       
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><i class="fas fa-infinity"></i> Deep-Learning-Training-GUI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="training" >Training</a>
                <a class="nav-item nav-link" href="predict" >Predict</a>
                <a class="nav-item nav-link disabled" href="#" >Your Projects [Coming Soon]</a>
              </div>
            </div>
          </nav>
    </header>

    

    <div class="jumbotron">
        <h1 class="display-4">Summary</h1>
          <p class="lead">Welcome! Thanks for downloading DLTGUI! Before we begin,  set your dataset 
            and start the training right away and monitor it with TensorBoard or DLTGUI tool. No more many parameters, no more data preprocessing.
              </p>
        <hr class="my-4">
          <p><i class="fas fa-exclamation-triangle"></i> Before starting to train your deep learning model, check the GitHub repository for full instruction if you haven't checked.</p>
          <a class="btn btn-dark btn-lg" href="https://github.com/mustafamerttunali/Deep-Learning-Training-GUI" role="button" target="_blank"><i class="fab fa-github"> Github</i></a>
          <a class="btn btn-dark btn-lg" href="https://www.medium.com/mustafamerttunali" role="button" target="_blank"><i class="fab fa-medium"> Medium</i></a>
          <a class="btn btn-primary btn-lg" href="https://twitter.com/mmerttunali" role="button" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
          <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/mustafa-mert-tunali/" role="button" target="_blank"><i class="fab fa-linkedin"> Linkedin</i></a>
          <hr>
          <br>
          <br>
          <img src="{{url_for('static', filename='andrew_ng.jpeg')}}"" class="img-fluid" alt="Responsive image" style="width: 50%; margin-left: 25%;">

    </div>

    <footer style="text-align: center;">Built by <a href="https://mustafamerttunali.github.io/" target="_blank">Mustafa Mert Tunalı </a>, Version 1.7</footer>

  
</div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>