<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://kit.fontawesome.com/c5ffb49d8a.js" crossorigin="anonymous"></script>

<title >DLTG - Terminal</title>
    
<body>

<div class="container-fluid">
       
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><i class="fas fa-infinity"></i> Deep-Learning-Training-GUI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="training" >Training</a>
                <a class="nav-item nav-link" href="contact" >Contact</a>
              </div>
            </div>
          </nav>
    </header>

    

    <div class="jumbotron">
        <h1 class="display-4" style="text-align: center;">Train Result [LIVE] </h1>
        <p style="font-size: 20px; text-align: center;"><i class="fas fa-exclamation-triangle"></i> This page shows that your train and validation process on
          your selected dataset.
           For version 1.0, 
          you can view your 
          train and validation history on that page. You can download your trained model for future usage.</p>
      </div>
          <div class="row" style="text-align: center;">

            <div class="col-md-2">
            
              <h5 class="border border-danger display-5 rounded-bottom rounded-top">Pre-Trained Model<br>
                </h5>
                <h6 class="display-6">{{  result['Pre-trained Model'] }}  </h6>
              
              
              </div>

            <div class="col-md-2">
            
            <h5 class="border border-primary display-5 rounded-bottom rounded-top">Your Project Name <br>
              </h5>
              <h6 class="display-6">{{  result['project_name'] }}  </h6>
            
            
            </div>

            <div class="col-md-2">
            
              <h5 class="border border-primary display-5 rounded-bottom rounded-top">Batch Size<br>
                </h5>
                <h6 class="display-6">{{  result['batch_size'] }}  </h6>
              
              
              </div>

              <div class="col-md-2">
            
                <h5 class="border border-primary display-5 rounded-bottom rounded-top">Number of Classes<br>
                  </h5>
                  <h6 class="display-6">{{  result['noc'] }}  </h6>
                
                
                </div>


                <div class="col-md-2">
            
                  <h5 class="border border-primary display-5 rounded-bottom rounded-top">CPU/GPU<br>
                    </h5>
                    <h6 class="display-6">{{  result['CPU/GPU'] }}  </h6>
                  
                  
                  </div>

           

              <div class="col-md-2">
            
                <h5 class="border border-primary display-5 rounded-bottom rounded-top">Epoch<br>
                  </h5>
                  <h6 class="display-6">{{  result['epoch'] }}  </h6>
                
                
                </div>  
                
                <div class="col-md-12">
                <hr class="my-4">
              </div>

              


            <div class="col-md-6">
              

              <h5 class="display-5"><a href="http://localhost:6006/" target="_blank" style="color:rgb(255, 208, 0)">TensorBoard</a><br>
              </h5>

              
              

              
            </div>



            <div class="col-md-6">
              

              <h5 class="display-5" style="color:rgb(0, 81, 255)">DLGUI Live Tool<br>
              </h5>

              


              
            </div>

            
              <div class="col-md-4">

                <form action = "http://localhost:5000/terminal" method = "POST"></form>
          
              </div>
              <div class="col-md-4">
      
                <div class="btn-group" role="group" aria-label="Basic example">
                  <input class="btn btn-outline-warning" type = "submit" value = "Save Your Model" />  </a>
                
                </div>

                <div class="btn-group" role="group" aria-label="Basic example">
                  <input class="btn btn-outline-success" type = "submit" value = "Predict Your Model" />  </a>
                
                </div>


                <div class="col-md-4">
          
                </div>
              </form>
              <br>
              <footer style="text-align: center;">Built by <a href="https://mustafamerttunali.github.io/" target="_blank">Mustafa Mert Tunalı </a>, Version 1.0</footer>


          </div> 


  


</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>