<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel = "icon" href =  
"https://image.flaticon.com/icons/png/512/2043/premium/2043014.png" 
        type = "image/x-icon"> 
<script src="https://kit.fontawesome.com/c5ffb49d8a.js" crossorigin="anonymous"></script>

<title >DLTG - Settings</title>
    
<body>

<div class="container-fluid">
       
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><i class="fas fa-infinity"></i> Deep-Learning-Training-GUI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="training" >Training</a>
                <a class="nav-item nav-link" href="predict" >Predict</a>
                <a class="nav-item nav-link" href="contact" >Contact</a>
              </div>
            </div>
          </nav>
    </header>

    

    <div class="jumbotron" style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    ">
        
      <div class="row" style="text-align: center;">

      
        <div class="col-md-12">
          <i class="fas fa-cog" style="color: honeydew;"><p class="h1">Set Your Model</p> </i> 
        </div>
       



        </div>
      </div>



      <!-- FORM  -->

        <!-- <select class="form-control form-control-sm">
        <option selected>Type of label</option>
        <option>json</option>
        <option>pascal</option>
      </select> 
     <br>
    -->
    <form action = "http://localhost:5000/terminal" method = "POST">

     
      set your dataset path (datasets/example_dataset)
      <input class="form-control form-control-sm" type="text"   name="dataset" webkitdirectory mozdirectory msdirectory odirectory directory multiple />
    
      <br>

      Split the dataset (0.20 is fine) 
      <br>
      <input class="form-control form-control-sm" type="number" name="split_dataset" placeholder="0.20" min="0.20" max="0.50" required>
      <br>
      Name of your project *
      <input class="form-control form-control-sm" type="text" name="project_name" required >
      <br>

      Pre-trained Models *
      <select class="form-control form-control-sm" name="Pre-trained Model">
      
        <option>MobileNetV2</option>
        <option disabled style="background-color: rgb(219, 218, 218);">[In Development] frcn_resnet_50</option>
      </select>

      <br>

     CPU/GPU
      <select class="form-control form-control-sm" name="CPU/GPU">
        <option>GPU</option>
        <option>CPU</option>
      </select>


<br>

      Number of Classes
      <input class="form-control form-control-sm" type="number" name="noc"required >
      <br>

      Batch Size
      <input class="form-control form-control-sm" type="number" name="batch_size" required >
      <br>

      Epoch (Iteration)
      <input class="form-control form-control-sm" type="number" name="epoch" required >

      <br>

      <div class="row" style="text-align: center;">

        <div class="col-md-4">
          
        </div>
        <div class="col-md-4">

          <div class="btn-group" role="group" aria-label="Basic example">
            <input class="btn btn-outline-primary" type = "submit" value = "Start Training!"/>  
          
          </div>


          </div>
         
        </div>

      </form>
        <div class="col-md-4">
          
        </div>



        </div>

        <br>

      <footer style="text-align: center;">Built by <a href="https://mustafamerttunali.github.io/" target="_blank">Mustafa Mert Tunalı </a>, Version 1.0</footer>
      

  
</div>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>