<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel = "icon" href =  
"https://image.flaticon.com/icons/png/512/2043/premium/2043014.png" 
        type = "image/x-icon"> 
<script src="https://kit.fontawesome.com/c5ffb49d8a.js" crossorigin="anonymous"></script>

<title >DLTGUI - Settings</title>
    
<body>

<div class="container-fluid">  
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><i class="fas fa-infinity"></i> Deep-Learning-Training-GUI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="training" >Training</a>
                <a class="nav-item nav-link" href="predict" >Predict</a>
                <a class="nav-item nav-link" href="contact" >Contact</a>
                <a class="nav-item nav-link disabled" href="#" >Your Projects [Coming Soon]</a>
              </div>
            </div>
          </nav>
    </header>

    

    <div class="jumbotron">
        
      <div class="row" style="text-align: center;">
        <div class="col-md-12">
          <i class="fas fa-cog"><h1 class="display-4" style="text-align: center;">Set Your Model </h1></i> 
          <p style="text-align: center;font-size: 14px;"><i class="fas fa-exclamation-triangle"></i> Choose what you want to do firstly, then set few parameters to train your model.</p>
        </div>
       
        <div class="col-md-12">
          <button type="button" class="btn btn-primary" onclick="image_classification_toogle()">Image Classification</button>
                
          <button type="button" class="btn btn-warning" onclick="object_detection_toggle()">Object Detection [In Development]</button>
        </div>


        </div>
      </div>
      <!--Object Detection BEGINNING-->
      <div id="objectDetection" style="display: none;">
          <div class="col-md-12">  
            <form action = "http://localhost:5000/terminal-object-detection" method = "POST" >
            Name of your project *
            <input class="form-control form-control-sm" type="text" name="project_name" required >
            <br>
              set your dataset path (datasets/example_dataset) *(required)
            <input class="form-control form-control-sm" type="text"   name="dataset" required webkitdirectory mozdirectory msdirectory odirectory directory multiple />
            <br> 
            Type of label *(required)
            <select class="form-control form-control-sm" name="type_of_label" required>
                <option>json</option>

            </select> 
            <br>
            Pre-trained Models *(required)
            <select class="form-control form-control-sm required" name="Pre-trained Model" required> 
              <option>Mask RCNN</option>
            </select>
            <br> 
            Number of Classes *(required)
            <input class="form-control form-control-sm" type="number" name="noc"required >
            <br>
            Split the dataset (0.20 is fine) *(required) 
            <input class="form-control form-control-sm"  type="number" name="split_dataset" placeholder="0.20" min="0.20" max="0.50" required> 
            <br>
            Batch Size (default: 16)
            <input class="form-control form-control-sm" type="number" name="batch_size" placeholder="16" >
            <br>
            Epoch (Iteration) (default: 10)
            <input class="form-control form-control-sm" type="number" name="epoch">
            <br>
            <div class="row" style="text-align: center;">
              <div class="col-md-4"> </div>
              <div class="col-md-4">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <input class="btn btn-outline-primary" type = "submit" value = "Start Training!"/>  
                </div>
              </div>
            </div>
            </form>
          </div> 
        </div>

    <!--Object Detection END-->
    <!--Image Classification BEGINNING-->

    <div id="imageClassification" style="display: none;">

    <div class="col-md-12">  
    <form action = "http://localhost:5000/terminal" method = "POST" >
      Name of your project *
      <input class="form-control form-control-sm" type="text" name="project_name" required >
      <br>

      set your dataset path (datasets/example_dataset)
      <input class="form-control form-control-sm" type="text" id="myDIV"  name="dataset" webkitdirectory mozdirectory msdirectory odirectory directory multiple />
    
      <br>
      Split the dataset (0.20 is fine) 
      <br>
      <input class="form-control form-control-sm" type="number" name="split_dataset"  onkeyup="checkSplit()" id="split"  min="0.20" max="0.35" required>

      <div class="alert alert-warning" role="alert" id="warning_div" style="display: none;">
          Are you sure for this split_dataset value? Lower than 0.20 could be a problem.
        </div>

        <div class="alert alert-danger" role="alert" id="danger_div" style="display: none;">
          Your split_dataset value is bigger than 0.50! This could be a problem.
        </div>

        <div class="alert alert-success" role="alert" id="success_div" style="display: none;">
          Your split_dataset value is great!
        </div>
      <script>



      function checkSplit()
      {

        var warning_div = document.getElementById("warning_div");
        var danger_div = document.getElementById("danger_div");
        var success_div = document.getElementById("success_div");
        var split_dataset = document.getElementById("split").value;
        if(split_dataset < 0.20)
        { 
          success_div.style.display = "none";
          danger_div.style.display = "none";
          warning_div.style.display = "block";
        }

        else if(split_dataset > 0.35)
        {
          success_div.style.display = "none";
          warning_div.style.display = "none";
          danger_div.style.display = "block";
        }

        else if(split_dataset >= 0.20 && split_dataset <= 0.35)
        {
          warning_div.style.display = "none";
          danger_div.style.display = "none";
          success_div.style.display = "block";
         
        }

        else{
          warning_div.style.display = "none";
          danger_div.style.display = "none";
          success_div.style.display = "none";
        }

      }
      
      </script>
      <br>
      Data Augmentation
      <div class="form-check">
      <input class="form-check-input" type="checkbox" value="True" name="flip" id="flip"onclick="dataAug()">
      <input class="form-check-input" type="hidden" value="False" name="flip" id="flip_hidden">
      <label class="form-check-label" for="flip" >
      Flipping 
      </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="True" name="rotation" id="Rotation" onclick="dataAug()" >
        <input class="form-check-input" type="hidden" value="False" name="rotation" id="rotation_hidden" >
        <label class="form-check-label" for="Rotation" >
          Rotation 
        </label>
        </div>

  
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="True" name="zoom" id="Zoom" onclick="dataAug()">
        <input class="form-check-input" type="hidden" value="False" name="zoom" id="zoom_hidden" >
        <label class="form-check-label" for="Zoom" >
         Zoom 
        </label>
        </div>

  

      <div id="samples_div" style="display: none;">
        <br>
        <label class="form-check-label" for="samples" id="samples" >
        Samples - Default Value: 100 ( If you write 200,
       The system will generate 200 augmented images based on your specifications. ) 
        </label>
        <input class="form-control form-control-sm" type="number" name="samples"  id="samples"  min="100" >
        </div>
        <script>

          if(document.getElementById("Rotation").checked) 
          {
            document.getElementById('rotation_hidden').disabled = true;
           
          }

          
          if(document.getElementById("Zoom").checked) 
          {
          document.getElementById('zoom_hidden').disabled = true;
          
          }

          
          if(document.getElementById("flip").checked) 
          {
           document.getElementById('flip_hidden').disabled = true;
           
          }

        function dataAug(){

        

          if(document.getElementById("flip").checked || document.getElementById("Zoom").checked || document.getElementById("Rotation").checked  )

          {
            document.getElementById('samples_div').style.display = "block";
          } 

          else{
            document.getElementById('samples_div').style.display = "none";
          }
         
        }
         
          </script>

        <!--
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" name="flip" id="flip">
          <label class="form-check-label" for="flip">
            Color Augmentation
          </label>
          </div>
        -->
      <br>

      Pre-trained Models *
      <select class="form-control form-control-sm" name="Pre-trained Model">
        
        <option>MobileNetV2</option>
        <option>InceptionV3</option>
        <option>VGG16</option>
        <option>VGG19</option>
        <option>NASNetMobile</option>
        <option>SimpleCnnModel</option>

      </select>

      <br>

     CPU/GPU
      <select class="form-control form-control-sm" name="CPU/GPU">
        <option>/GPU:0</option>
        <option>/CPU:0</option>
      </select>


<br>
      Number of Classes
      <input class="form-control form-control-sm" type="number"  min="2" onkeyup="checkClass()" id="noc" name="noc"required >
      <br>

      <div id="activation_function" style="display: none;">
        <div class="alert alert-warning" role="alert">
          You must choose an activation function for training (ReLu is better than sigmoid, change my mind).
        </div>
      <select class="form-control form-control-sm  " name="activation_function">
        <option>sigmoid</option>
        <option>relu</option>
      </select>
      <br>
    </div>
    <div class="alert alert-danger" role="alert" id="danger" style="display: none;">
      Actually You have 2 class. Your dataset should be like that for example: cat and non-cat. Sometimes that means you have one class but you don't.
      So you need to change your number of classes to 2.
    </div>
      <script>
      function checkClass(){
        var noc = document.getElementById("noc").value;
        var activation_function = document.getElementById("activation_function");
        var danger = document.getElementById("danger");

        if(noc == 1)
        {
          activation_function.style.display = "none";
          danger.style.display = "block";
        }

        else if(noc == 2)
        {
          activation_function.style.display = "block";
          danger.style.display = "none";
        }
  
        else{
          activation_function.style.display = "none";
          danger.style.display = "none";
          
          
        }
        
      }
        </script>
      

      
      Batch Size
      <input class="form-control form-control-sm" type="number" name="batch_size" required >
      <br>

      Epoch (Iteration)
      <input class="form-control form-control-sm" type="number" name="epoch" id="epoch" onkeyup="checkEpoch()" required >
      <div class="alert alert-warning" role="alert" id="epoch_warning" style="display: none;">
        Your epoch is lower than 7. Your model may not be trained well. If you have over-fitting, you can choose lower than 7.
      </div>

      <script>
      
      function checkEpoch()
      {
        var epoch = document.getElementById("epoch").value;
        var epoch_warning = document.getElementById("epoch_warning");

        if(epoch < 7)
        {
          epoch_warning.style.display = "block";
        }

        else{
          epoch_warning.style.display = "none";
        }
      }
      </script>

      <br>

      <div class="row" style="text-align: center;">

        <div class="col-md-4">
          
        </div>
        <div class="col-md-4">

          <div class="btn-group" role="group" aria-label="Basic example">
            <input class="btn btn-outline-primary" type = "submit" value = "Start Training!"/>  
            
          
          </div>


          </div>
         
        </div>

      </form>
    </div>
  </div>
  <!--Image Classification END-->

        <div class="col-md-4"></div>
 </div>
<br>

      <footer style="text-align: center;">Built by <a href="https://mustafamerttunali.github.io/" target="_blank">Mustafa Mert Tunalı </a>, Version 1.0</footer>
      
</div>

</body>
<script>
  var od_div = document.getElementById("objectDetection")
  var ic_div = document.getElementById("imageClassification");

  function object_detection_toggle() {
    
    ic_div.style.display = "none";
    od_div.style.display ="block";
    
  }

  function image_classification_toogle() {
    od_div.style.display ="none";
    ic_div.style.display = "block";
  }

  
  </script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>